bs4==0.0.2
cosmograph==0.0.47
fqdn==1.5.1
gradio==4.44.1
graphviz==0.20.3
gravis==0.1.0
igraph==0.11.8
importlib-metadata==8.0.0
ipysigma==0.24.5
isoduration==20.11.0
jaraco.collections==5.1.0
json-repair==0.40.0
jsonlines==4.0.0
jupyterlab==4.3.6
langchain-community==0.3.13
langchain-neo4j==0.2.0
langchain-openai==0.2.14
langgraph==0.2.60
neo4j-rust-ext==5.28.1.0
openpyxl==3.1.5
pickleshare==0.7.5
pip-chill==1.0.3
pyngrok==7.2.2
pyvis==0.3.1
scipy==1.13.1
streamlit-ace==0.1.1
tabulate==0.9.0
tinycss2==1.4.0
typeguard==4.3.0
uri-template==1.3.0
webcolors==24.11.1